// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';

/* Global styles */
@import 'global/window';
@import 'global/grid';

/* Styles limited to atoria sheets */
@import 'components/configurators';

/* Styles working in sheet and chat*/
@import 'components/action_modifier';

.atoria {
    font-family: $font-primary;

    @import 'components/forms';
    @import 'components/actor_sheet';
    @import 'components/spell_sheet';
    @import 'components/action_sheet';
    @import 'components/skill_sheet';
    @import 'components/feature_sheet';
    @import 'components/feature_list_sheet';
    @import 'components/gear_sheet';



    @import 'components/resources';
    @import 'components/perceptions';
    @import 'components/combat';
    @import 'components/feature';
    @import 'components/feature_list';
    @import 'components/skill';
    @import 'components/knowledge';
    @import 'components/effects';
    @import 'components/inventory';
    @import 'components/spell';
    @import 'components/action_mod_page';

    @import 'dialogs/test_dialog';

  input:not([type='image']), textarea{
    background-color: $clear-color;
  }

  .perception {
    background-color: $perception-color;
  }
  .health.health {
    background-color: $health-color;
  }
  .healing {
    background-color: $healing-color;
  }
  .stamina.stamina {
    background-color: $stamina-color;
  }
  .mana.mana {
    background-color: $mana-color;
  }

  .sanity.sanity {
    background-color: $sanity-color;
  }
  .endurance.endurance {
    background-color: $endurance-color;
  }
  .encumbrance {
    background-color: $encumbrance-color;
    color: white;
  }
  .encumbrance-normal {
    background-color: $encumbrance-normal-color;
  }
  .encumbrance-above-max {
    background-color: $encumbrance-above-max-color !important;
  }
  .encumbrance-stealth-malus {
    background-color: $encumbrance-stealth-malus-color !important;
  }
  .encumbrance-stealth-bonus {
    background-color: $encumbrance-stealth-bonus-color !important;
  }
  .armor, .initiative, .movement {
    background-color: $neutral-color;
  }

  .coin-copper {
    background-color: $coin-copper-color;
  }
  .coin-silver {
    background-color: $coin-silver-color;
  }
  .coin-electrum {
    background-color: $coin-electrum-color;
  }
  .coin-gold {
    background-color: $coin-gold-color;
  }

  .tanned-color {
    background-color: $tanned-color;
  }

  .editor {
    height: 100%;
    min-height: 300px;
  }

  .elip_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

@import 'components/chat_message';
