.atoria-character-header {
    --atoria-document-img-size: calc(7 * var(--atoria-skill-height));
    --atoria-header-area-width: calc(16em + var(--atoria-document-img-size) + var(--atoria-skill-width) + 2*var(--atoria-columns-gap));
    grid-area: char-hdr;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    min-width: var(--atoria-header-area-width);
    max-width: var(--atoria-header-area-width);

    gap: var(--atoria-rows-gap) var(--atoria-columns-gap);

    > * {
        flex: 1;
    }
    .atoria-time-phase-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;

        > input[name="name"] {
            --atoria-input-width: 5fr;
        }
        > h6 {
            display: flex;
            justify-content: center;
            white-space: wrap;
            height: calc(2* var(--atoria-base-line-block-height));
            display: flex;
            align-items: center;
        }

        > label {
            max-height: var(--atoria-skill-height);
            align-items: stretch;
            flex: 1;
            display:flex;
            justify-content: center;
            border: var(--atoria-border-style);

            > img {
                flex: 0;
                max-width: var(--atoria-base-line-block-height);
                max-height: var(--atoria-base-line-block-height);
                border: none;
                filter: var(--atoria-img-filter);
            }

            > * {
                flex: 1;
            }
        }


    }


    > .attribute-area {
        > div, & {
            > div, & {
                > input, > label, > h5 {
                    min-height: var(--atoria-skill-height);
                    max-height: var(--atoria-skill-height);
                }
            }
        }
        > .name-area {
            display: flex;
            flex-direction: row;
            width: 100%;
            > input[name="name"] {
                --atoria-input-width: 1fr;
            }
        }
        > .atoria-healing-inactive {
            --checkbox-size: var(--atoria-base-line-block-height);
            text-align: center;

            display: flex;
            flex-wrap: no-wrap;
            align-content: center;
            align-items: center;
            text-align: center;
            justify-content: space-around;

            min-height: var(--atoria-skill-height);
            max-height: var(--atoria-skill-height);

            > label{
                min-height: calc(var(--atoria-skill-height) - 2px);
                max-height: calc(var(--atoria-skill-height) - 2px);
                width: fit-content;
                max-width: fit-content;
            }
            > .flexrow{
                width: fit-content;
                max-width: fit-content;
            }

            img[data-action=editHealingInactive],
            img[data-action=toggleAttribute],
            input[type=checkbox] {
                border: none;
                margin: auto;
                min-height: calc(var(--checkbox-size) - 2px);
                max-height: calc(var(--checkbox-size) - 2px);
            }

            img {
                min-height: calc(var(--checkbox-size) - 2px);
                max-height: calc(var(--checkbox-size) - 2px);
                min-width: var(--checkbox-size);
                max-width: var(--checkbox-size);
            }
            img.checked{
                color: var(--atoria-color-checkbox-checked);
            }

            input[type=checkbox].resurrection::after{
                --checkbox-content: "\f714" !important;
            }
        }
        > .atoria-initiative {
            input {
                --atoria-input-width: var(--atoria-formula-input-width);
            }
        }
    }
}
