.atoria-cost-input, .atoria-cost-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > * {
        flex: 1;
        min-width: fit-content;
    }
    > label {
        flex: 0;
    }
    > .atoria-material {
        --atoria-input-width: fit-content;
    }
}

.atoria-cost-display {
    justify-content: flex-start;

}
