.atoria-keywords {
    column-count: 2;
    column-rule: var(--atoria-border-style);
    column-gap: 5px;
    padding: 0;
    margin: 0;
    .keyword_block {
        display: flex;
        flex-direction: row;
        line-height: var(--atoria-base-line-block-height);
        max-height: var(--atoria-base-line-block-height);
        column-gap: 5px;
        img {
            flex: 0;
            max-width: var(--atoria-base-line-block-height);
            max-height: var(--atoria-base-line-block-height);
            border: none;
            filter: var(--atoria-img-filter);
        }
    }
}
