<div class='atoria tooltip'>
    <h5>{{supplementary.name}}</h5>
    {{>"atoria.v2.tooltips_partials.cost-tooltip" cost=supplementary.cost systemFields=systemFields.cost.fields}}
    {{>"atoria.v2.tooltips_partials.time-limitation-tooltip" limitation=supplementary.limitation systemFields=systemFields.limitation.fields}}
    <label>{{supplementary.description}}</label>
</div>