& .chat-message{
    &.interactable {
        font-size: var(--font-size);
    }
    .atoria {
        &.critical.success .title {
            color: green;
        }
        &.success .title {
            color: color-mix(in srgb, green 40%, var(--color-dark-1););
        }
        &.failure .title {
            color: color-mix(in srgb, red 40%, var(--color-dark-1););
        }
        &.critical.failure .title {
            color: red;
        }

        .title {
            min-width: fit-content;
        }
        .result-degree {
            flex:0;
            min-width: 6em;
            width: fit-content;
        }

        .message-content {
            .inline-roll {
                white-space: normal;
                word-break: normal;
                background: none;
                border: none;
            }
        }

        hr {
            height: 1px;
            border-top: 1px solid black;
            width: 100%;
            margin: 2px;
        }

        ul {
            &.saves-asked{
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0;
                }
            }
        }

    }
}
