$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$transparent-color: rgba(255, 255, 255, 0);

$tanned-color: rgba(0, 0, 0, 0.05);
$clear-color: rgba(255, 255, 255, 0.25);


$selected-tab-color: #6db088;

$health-color: #cc0000;
$healing-color: #d76fac;
$stamina-color: #6aa84f;
$mana-color: #3c78d8;

$sanity-color: #8e7cc3;
$endurance-color: #e69138;
$encumbrance-color: #434343;

$encumbrance-normal-color: $tanned-color;
$encumbrance-above-max-color: #d65151;
$encumbrance-stealth-malus-color: #da904c;
$encumbrance-stealth-bonus-color: #7dda70;



$perception-color: #f1c232;

$skill-color: #a4c2f4;
$knowledge-color: #a4b3f4;

$status-color : #b286be;
$feature-color : #ebd2df;


$inventory-armor-color: #434343;
$inventory-bag-color: #b49d91;

$inventory-bag-color-consumable: #f4cccc;
$inventory-bag-color-equipment: #d9d9d9;
$inventory-bag-color-ingredient: #d9d2e9;

$inventory-subtitle-color: $tanned-color;
$inventory-rowdata-color: $clear-color;

$coin-copper-color: #C36500;
$coin-silver-color: #A7A7A7;
$coin-electrum-color: #BDA834;
$coin-gold-color: #FFD800;

$neutral-color: #cccccc;