$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$transparent-color: rgba(255, 255, 255, 0);

$tanned-color: rgba(0, 0, 0, 0.05);
$clear-color: rgba(255, 255, 255, 0.25);


$selected-tab-color: #6db088;

$health-color: #cc0000;
$stamina-color: #6aa84f;
$mana-color: #3c78d8;

$sanity-color: #8e7cc3;
$endurance-color: #e69138;
$encumbrance-color: #e6b8af;

$perception-color: #f1c232;

$skill-color: #a4c2f4;


$inventory-armor-color: #434343;
$inventory-bag-color: #b49d91;

$inventory-sub_armor-color: #999999;

$coin-copper-color: #f6b26b;
$coin-silver-color: #d9d9d9;
$coin-gold-color: #ffd966;

$neutral-color: #cccccc;