{{#unless is_private}}
<div class="atoria dice effect-dice flexrow">
    <label>
        <span class="result-degree" data-tooltip='{{{dice_tooltip}}}'>{{{dice_value}}}</span>
        <span>{{flavor}}</span>
    </label>
</div>
{{/unless}}
