<div class="atoria dialog atoria-skill-creation-dialog flexcol">
    <h3 class="title double-col-field">{{localize "ATORIA.Dialog.Skill_creation.Name_selection"}}</h3>
    <input type="text" name="skill_name" value=""/>
</div>
