.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.tickable-image {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin: 3px 5px;
}