<div class="flexcol">
    {{#if (eq type "apart")}}
        <button type="button" data-action="rollThrow" >{{localize "ATORIA.Ruleset.Attack.Throw"}}</button>
    {{/if}}
    {{#each items}}
        <button type="button" data-action="rollItem" data-uuid="{{this.uuid}}">{{localize this.name}}</button>
    {{/each}}
</div>
