<div class="flexrow">
    {{#each skills}}
        <button type="button" data-action="skillChange" data-skill-id="{{@index}}" data-path="{{this.path}}">{{localize this.label}}</button>
    {{/each}}
</div>
