<div class='time-limitation-tooltip flexrow'>
    {{#if (ne limitation.regain_type 'permanent')}}
    <label>
        {{limitation.usage_left}}/{{limitation.usage_max}}
        {{limitation.regain_type}}
    </label>
    {{/if}}
</div>