<div class='time-limitation-tooltip flexrow'>
    {{#if (ne limitation.regain_type 'permanent')}}
    <label>
        {{limitation.usage_left}}/{{limitation.usage_max}}
        {{localize (lookup systemFields.limitation.fields.regain_type.choices limitation.regain_type)}}
    </label>
    {{/if}}
</div>
