& {
    .atoria-spell-marker::after {
        --checkbox-content: attr(data-letter) !important;
    }
}

> .item.sheet {
    .grid-2col {
        grid-template-columns: 10em auto;
        input:not([type=checkbox]) {
            max-width: 100%;
        }
    }

    .sub-element-category > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
        }
        li:not(:first-child) {
            margin-top: var(--atoria-rows-gap);
        }
    }

    .atoria-supplementaries-area {
        ul {
            li:not(:first-child) {
                margin-top: calc(2 * var(--atoria-rows-gap));
            }
            li.hr {
                border-top: var(--atoria-fieldset-border-style);
                border-bottom: var(--atoria-fieldset-border-style);
                // margin-top: var(--atoria-rows-gap);
            }
            li:last-child {
                visibility: hidden;
                display: none;
            }
        }
    }

    ul.actable-mod-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0;
        }
        li:not(:first-child) {
            margin-top: var(--atoria-rows-gap);
        }
    }

    .atoria-keywords-area {
        input[type=checkbox]:not(:checked) + input[type=checkbox].more {
            display: none;
        }

        .visual-numbered-input{

            .input-title{
                display: inline-block;
                min-width: 80px;
                max-width: 80px;
            }
            input[type="checkbox"]{
                --checkbox-size: 14px;
            }
            input[type="checkbox"]:not(:first-of-type){
                --checkbox-size: 12px;
                margin-left: 2px;
                border: none;
            }
            input[type=checkbox]:not(:first-of-type)::after {
                --checkbox-content: "\2b";
                font-size: var(--checkbox-size);
            }

            input[type="number"]{
                margin-left: 3px;
                max-width: var(--atoria-input-width);
            }
            input[type="text"]{
                margin-left: 3px;
            }
        }
        .simple-area {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3px;
        }
        .complex-area {
            display: flex;
            flex-direction: column;
            margin-top: 3px;

            input[type="checkbox"]{
                --checkbox-size: 14px;
            }
            input[type="number"]{
                margin-left: 3px;
                max-width: var(--atoria-input-width);
            }
            input[type="text"], select{
                margin-left: 3px;
            }
            .form-group {
                flex: 0;
                min-width: fit-content;
                label {
                    display: inline-block;
                    min-width: 80px;
                    max-width: 80px;
                }
            }
        }
    }
}
