.character-sheet {
    nav.sheet-tabs {
        margin-bottom: 8px;

        a {
            border: solid 1px black;
        }

        a.active {
            text-shadow: none;
            background-color: $selected-tab-color;
        }
    }
    .config-sheet {
        flex: 0;

        display: inline-block;
        text-align: center;
        align-items: center;
        vertical-align: middle;

        min-width: 36px;
        min-height: 36px;
        max-width: 36px;
        max-height: 36px;

        min-width: 50px;
        max-width: 50px;

        padding: 5px 5px;
        padding-top: 8px;

        overflow: hidden;
        i {
            font-size: 16px;
            min-width: 30px;
            min-height: 30px;
            max-width: 30px;
            max-height: 30px;
        }
    }
    .time-phase {
        flex: 0;

        display: inline-block;
        text-align: center;
        align-items: center;
        vertical-align: middle;

        min-width: 36px;
        min-height: 36px;
        max-width: 36px;
        max-height: 36px;
        padding: 3px;

        img {
            border: none;
            min-width: 30px;
            min-height: 30px;
            max-width: 30px;
            max-height: 30px;
        }

    }
    .img-sheet {
        min-width: 36px;
        min-height: 36px;
        max-width: 36px;
        max-height: 36px;
    }
}