.atoria.actor-config {
    .attributes {
        input, label {
            min-width: 225px;
            max-width: 225px;
        }

        .health {
            background-color: $health-color;
        }
        .stamina {
            background-color: $stamina-color;
        }
        .mana {
            background-color: $mana-color;
        }

        .sanity {
            background-color: $sanity-color;
        }
        .endurance {
            background-color: $endurance-color;
        }
        .encumbrance {
            background-color: $encumbrance-color;
        }


        .armor, .initiative, .movement {
            background-color: $neutral-color;
        }
    }
    .perceptions {
        .perception {
            label.perception-label {
                font-weight: bold;
                justify-content: center;
                text-align: center;
                min-width: 75px;
                max-width: 75px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                background-color: $perception-color;
            }
            input {
                text-align: center;
                min-width: 50px;
                max-width: 50px;
            }
        }
    }
}

.atoria.actor-skill-config {
    .skill {
        width: max-content;
    
        .title {
            display: inline-block;
            text-align: center;
            background-color: $skill-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
        
            position: relative;
            
            .add-button {
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    
        .skill-row {
            width: max-content;
    
            .category-title {
                text-align: center;
                background-color: $transparent-color;
                border-radius: 3px;
                border: 1px solid var(--color-border-light-tertiary);
            }
    
            .name {
                text-align: center;
                background-color: $transparent-color;
                border-radius: 3px;
                border: 1px solid var(--color-border-light-tertiary);
            }
            
            .value-label {
                text-align: center;
                background-color: $transparent-color;
                border-radius: 3px;
                border: 1px solid var(--color-border-light-tertiary);
            }
    
            .config-button {
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            .delete-button {
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }
    
    
    .skill {
        width: max-content;
    
        .title {
            max-width: 440px;
            min-width: 440px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
    
        .skill-row {
            width: max-content;
            display: grid;
            grid-column: span 2 / span 2;
            grid-template-columns: repeat(2, minmax(0, max-content));
            gap: 0;
            margin: 0;
            padding: 0;

            .category-area {
                align-items: center;
                display: flex;
                max-width: 90px;
                min-width: 90px;
                border-radius: 3px;
                border: 1px solid var(--color-border-light-tertiary);    
            }
            .category-title {
                order: 2;
                max-width: 90px;
                min-width: 90px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 0;
                border: none;
            }
    
            .name {
                max-width: 100px;
                min-width: 100px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 4px;
                padding-right: 4px;
            }
            
            .value-label {
                max-width: 30px;
                min-width: 30px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
            }
    
            .config-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
            .delete-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
        }
}
    
}