.feature {
    width: max-content;

    .title-label {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        background-color: $feature-color;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
    
        position: relative;
        
        .add-button {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            text-align: center;
            align-items: center;
            vertical-align: middle;
        }
    }

    .feature-row {
        width: max-content;

        .name-label {
            text-align: center;
            background-color: $transparent-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            
        }
        
        .effect-label {
            text-align: center;
            background-color: $transparent-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
        }

        .detail-button {
            display: inline-block;
            text-align: center;
            align-items: center;
            vertical-align: middle;
        }

        .description {
            text-align: left;
            line-height: var(--form-field-height);
            background-color: $tanned-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);

            .item-description {
                white-space: pre-wrap;
                word-break: break-word;
            }

            position: relative;
        
            .config-button {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            &:hover .config-button {
                display: inline-block;
            }
        }
        
    }
    .feature-row:not(.expanded) {
        .description {
            display: none;
        }
    }
}
  
.npc-sheet {
    .feature {
        width: max-content;
    
        .title-label {
            max-width: 280px;
            min-width: 280px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
            
            .add-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    
        .feature-row {
            width: max-content;
    
            .name-label {
                max-width: 120px;
                min-width: 120px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 4px;
                padding-right: 4px;
            }
            
            .effect-label {
                max-width: 140px;
                min-width: 140px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);}
    
            .detail-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
    
            .description {
                max-width: 280px;
                min-width: 280px;
                line-height: var(--form-field-height);
                // max-height: fit-content;
                min-height: var(--form-field-height);
            
                .config-button {
                    height: var(--form-field-height);
                    line-height: var(--form-field-height);
                    min-width: 20px;
                    max-width: 20px;
                    padding-left: 3px;
                    padding-right: 3px;
                }
            }
        
        }
    }
      
      
}


.character-sheet {
    .feature {
        width: max-content;
    
        .title-label {
            max-width: 280px;
            min-width: 280px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
            
            .add-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    
        .feature-row {
            width: max-content;
    
            .name-label {
                max-width: 200px;
                min-width: 200px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 4px;
                padding-right: 4px;
            }
            .effect-label {
                max-width: 60px;
                min-width: 60px;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
            }
    
            .detail-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
    
            .description {
                max-width: 280px;
                min-width: 280px;
                line-height: var(--form-field-height);
                // max-height: fit-content;
                min-height: var(--form-field-height);
            
                .config-button {
                    height: var(--form-field-height);
                    line-height: var(--form-field-height);
                    min-width: 20px;
                    max-width: 20px;
                    padding-left: 3px;
                    padding-right: 3px;
                }
            }
        
        }
    }
      
      
}