.feature-list-area {
    width: max-content;

    .title-label {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        background-color: $feature-color;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
        max-width: 300px;
        min-width: 300px;
        height: var(--form-field-height);
        line-height: var(--form-field-height);
    }

    .feature-list-category {

        .feature-list-label {
            position: relative;
            
            .add-button, .detail-button {
                position: absolute;
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-height: 20px;
                max-height: 20px;
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;

                font-size: 18px;
            }
            .add-button {
                right: 20px;
                top: 0;
            }
            .detail-button {
                right: 0;
                top: 0;
            }
        }

        &:not(.expanded) > *:not(.feature-list-label) {
            display: none;
        }

        .feature-list {
            border-radius: 3px;
            border: 1px solid black;
            padding: 3px;

            .name {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                border: none;
                margin: 0;
                position: relative;
                
                .config-button, .detail-button {
                    position: absolute;
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                    vertical-align: middle;
                    height: var(--form-field-height);
                    line-height: var(--form-field-height);
                    min-width: 20px;
                    max-width: 20px;
                    padding-left: 3px;
                    padding-right: 3px;

                    font-size: 18px;
                }
                .config-button {
                    right: 20px;
                    top: 0;
                }
                .detail-button {
                    right: 0;
                    top: 0;
                }
            }

            
            &:not(.expanded) > .description {
                display: none;
            }

            .description {
                row-gap: 3px;

                .subfeature-row {
                    border-top: 1px solid black;
                    padding-top: 3px;

                    .subfeature-name {
                        font-weight: bold;
                        height: var(--form-field-height);
                        line-height: var(--form-field-height);
                    }
                    .usage-input{
                        flex: 0;
                        min-width: 20px;
                        max-width: 20px;
                        height: var(--form-field-height);
                        line-height: var(--form-field-height);
                    }
                    .regain-max {
                        flex: 0;
                        min-width: 30px;
                        max-width: 30px;
                        height: var(--form-field-height);
                        line-height: var(--form-field-height);
                    }
                    .regain-type-icon {
                        flex: 0;
                        min-width: 20px;
                        max-width: 20px;
                        margin-right: 3px;
                        border: none;
                    }

                    .subfeature-description {
                        white-space: pre-wrap;
                        max-width: 300px;
                    }
                }

                
            }
        }

            
    }


}
  