.inventory {
    min-width: 1000px;
    max-width: 1000px;
   
    .flexrow {
        width: max-content;
        flex: 0;

        .inventory-gear-armor {
            background-color: $inventory-armor-color;
            color: white;
        }
        .inventory-gear-weapon {
            background-color: $inventory-armor-color;
            color: white;
        }
        .inventory-gear-bag {
            background-color: $inventory-bag-color;
        }

        .gray-color {
            background-color: $inventory-sub_armor-color;
        }


        .title {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 450px;
            max-width: 450px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .longtitle {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 500px;
            max-width: 500px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);

            position: relative;
            
            .add-button {
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
        }
        .armor-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 50px;
            max-width: 50px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }

        .type-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 50px;
            max-width: 50px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .quantity-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 50px;
            max-width: 50px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .shortname-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 100px;
            max-width: 100px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .name-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 130px;
            max-width: 130px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .longname-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 180px;
            max-width: 180px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .resource-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 50px;
            max-width: 50px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .dice-value {
            background-color: $inventory-sub_armor-color;
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 50px;
            max-width: 50px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .encumbrance-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 50px;
            max-width: 50px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        }
        .effect-value {
            text-align: center;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
            min-width: 270px;
            max-width: 270px;
            min-height: var(--form-field-height);
            max-height: var(--form-field-height);
            
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            line-height: var(--form-field-height);

            position: relative;
        
            .config-button {
                position: absolute;
                right: 20px;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            &:hover .config-button {
                display: inline-block;
            }
            
            .delete-button {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            &:hover .delete-button {
                display: inline-block;
            }
        }
    }
}