.resource-label {
  font-weight: bold;
}

.resources {
  .resource {
    text-align: center;
    align-items: center;
    width: max-content;
  }

  label {
    text-align: center;
    border-radius: 3px;
    border: 1px solid var(--color-border-light-tertiary);
  }
  
  input {
    text-align: center;
  }

}

.character-sheet {
  .tickable-image {
    border: none;
    max-width: 20px;
    min-width: 20px;
  }
  .resources {
    .charname {
      max-width: 200px;
      min-width: 200px;
      height: var(--form-field-height);
      line-height: var(--form-field-height);
    }
    .resource {
      input:not([type=checkbox]) {
        max-width: 60px;
        min-width: 60px;
      }

      label, .resource-label, input.resource-label {
        max-width: 120px;
        min-width: 120px;
        height: var(--form-field-height);
        line-height: var(--form-field-height);
      }

      label.luck {
        max-width: 60px;
        min-width: 60px;
      }

      .value-label {
        max-width: 60px;
        min-width: 60px;
      }


      .resource-checkbox {
        max-width: 120px;
        min-width: 120px;
        height: var(--form-field-height);
        line-height: var(--form-field-height);

        text-align: center;
        align-items: center;
        vertical-align: middle;

        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);

        label {
          min-width: max-content;
          max-width: 120px;
          font-weight: bold;
          border: none;
        }
        input[type=checkbox] {
          min-height: 16px;
          max-height: 16px;
          margin: 5px;
          margin-top: 4px;
          margin-right: 1px;
        }
      }

      .resource-label.health {
        max-width: 180px;
        min-width: 180px;
      }

      .resource-label.healing {
        max-width: 90px;
        min-width: 90px;
      }

      .resource-label.armor, .resource-label.initiative, .resource-label.movement {
        max-width: 120px;
        min-width: 120px;
      }
    }
  }
  .inactive-area {
      text-align: center;
      align-items: center;
    .inactive-label {
      max-width: max-content;
      min-width: max-content;
      text-align: center;
      align-items: center;
      font-weight: bold;
      vertical-align: auto;
      border-radius: 3px;
      border: 1px solid var(--color-border-light-tertiary);

      height: var(--form-field-height);
      max-height: var(--form-field-height);
      line-height: var(--form-field-height);
      padding: 0px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.npc-sheet {
  .resources {
    .resource {
      label {
        max-width: 60px;
        min-width: 60px;
        height: var(--form-field-height);
        line-height: var(--form-field-height);
      }

      .value-label {
        max-width: 50px;
        min-width: 50px;
      }

      input {
        max-width: 50px;
        min-width: 50px;
      }

      .resource-label.armor, .resource-label.initiative, .resource-label.movement {
        max-width: 110px;
        min-width: 110px;
      }
    }
  }
}