.spell-sheet {
    min-width: 250px;
    max-height: fit-content;

    .flexrow, .flexcol{
        height: fit-content;
    }

    label, input {
        display: inline-block;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        line-height: var(--form-field-height);
        max-height: var(--form-field-height);
        min-height: var(--form-field-height);
        padding: 0;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
        width: 100%;
    }

    .name {
        grid-column-end: span 2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .success-value-title {
        height: var(--form-field-height);
        min-width: 90px;
        max-width: 90px;
    }

    .success-value {
        min-width: 30px;
        max-width: 30px;
    }

    .critical-title {

    }

    .critical {
        min-width: 30px;
        max-width: 30px;
    }

    .fumble-title {

    }

    .fumble {
        min-width: 30px;
        max-width: 30px;
    }

    .cost-title {
        height: var(--form-field-height);
        min-width: 90px;
        max-width: 90px;
    }

    .cost-input {
        min-width: 35px;
    }

    .time-title {
        height: calc(2*var(--form-field-height));
        max-height: calc(2*var(--form-field-height));
    }

    .time-preparation-title {
        min-width: 90px;
        max-width: 90px;
    }

    .time-preparation {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .time-duration-title {
        min-width: 90px;
        max-width: 90px;
    }

    .time-duration {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .time-modifier {
        min-width: 30px;
        max-width: 30px;
    }

    .components-title {
        height: calc(5*var(--form-field-height));
        max-height: calc(5*var(--form-field-height));
    }

    .components-verbal-title {
        min-width: 90px;
        max-width: 90px;
    }

    .components-verbal {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .components-somatic-title {
        min-width: 90px;
        max-width: 90px;
    }

    .components-somatic {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .components-material-title {
        min-width: 90px;
        max-width: 90px;
    }

    .components-material {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .targeting-title {
        height: calc(3*var(--form-field-height));
        max-height: calc(3*var(--form-field-height));
    }

    .targeting-target-title {
        min-width: 50px;
        max-width: 50px;
    }

    .targeting-target {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .targeting-range-title {
        min-width: 50px;
        max-width: 50px;
    }

    .targeting-range {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .targeting-area-title {
        min-width: 50px;
        max-width: 50px;
    }

    .targeting-area {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .effect-title {
        grid-column-end: span 2;
    }

    .effect {
        grid-column-end: span 2;

        .editor {
            min-height: 150px;
        }
    }

    .spell-supp-title {
        grid-column-end: span 2;

        position: relative;
        
        .add-button {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            text-align: center;
            align-items: center;
            vertical-align: middle;
        }
    }

    .spell-supp {
        grid-column-end: span 2;

        .flexrow {
            position: relative;
            .delete-button {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
            &:hover .delete-button {
                display: inline-block;
            }
        }

        .cost-input {
            max-width: 50px;
        }
        .cost-input.time {
            flex: 5;
            max-width: none;
        }
    }


}