.spell-sheet {
    min-width: 250px;
    max-height: fit-content;
    display: grid;
    grid-column: span 2/span 2;
    grid-template-columns: 60px 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
    flex: 0;

    .flexrow, .flexcol{
        height: fit-content;
    }

    label, input {
        display: inline-block;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        line-height: var(--form-field-height);
        max-height: var(--form-field-height);
        min-height: var(--form-field-height);
        padding: 0;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
        width: 100%;
    }

    .name {
        grid-column-end: span 2;
    }

    .category-title {
        min-width: 60px;
        max-width: 60px;
        align-items: center;
        display: flex;
    }

    .success-value-title {
        height: var(--form-field-height);
    }

    .success-value {
        min-width: 30px;
        max-width: 30px;
    }

    .critical-title {

    }

    .critical {
        min-width: 30px;
        max-width: 30px;
    }

    .fumble-title {

    }

    .fumble {
        min-width: 30px;
        max-width: 30px;
    }

    .cost-title {
        height: var(--form-field-height);
    }

    .cost-input {

    }

    .time-title {
        height: calc(2*var(--form-field-height));
        max-height: calc(2*var(--form-field-height));
    }

    .time-preparation-title {
        min-width: 90px;
        max-width: 90px;
    }

    .time-preparation {
    }

    .time-duration-title {
        min-width: 70px;
        max-width: 70px;
    }

    .time-duration {

    }

    .time-modifier {
        min-width: 20px;
        max-width: 20px;
    }

    .components-title {
        height: calc(5*var(--form-field-height));
        max-height: calc(5*var(--form-field-height));
    }

    .components-verbal-title {
        min-width: 90px;
        max-width: 90px;
    }

    .components-verbal {
    }

    .components-somatic-title {

    }

    .components-somatic {

    }

    .components-material-title {

    }

    .components-material {

    }

    .targeting-title {
        height: calc(3*var(--form-field-height));
        max-height: calc(3*var(--form-field-height));
    }

    .targeting-target-title {
        min-width: 50px;
        max-width: 50px;
    }

    .targeting-target {

    }

    .targeting-range-title {
        min-width: 50px;
        max-width: 50px;
    }

    .targeting-range {

    }

    .targeting-area-title {
        min-width: 50px;
        max-width: 50px;
    }

    .targeting-area {

    }

    .effect-title {
        grid-column-end: span 2;
    }

    .effect {
        grid-column-end: span 2;
        text-align: left;
        resize: vertical;
        white-space: pre-wrap;
        word-break: break-word;
        text-indent: 0;
        text-justify: auto;
    }

    .spell-supp-title {
        grid-column-end: span 2;

        position: relative;
        
        .add-button {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            text-align: center;
            align-items: center;
            vertical-align: middle;
        }
    }

    .spell-supp {
        grid-column-end: span 2;

        .flexrow {
            position: relative;
            .delete-button {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            &:hover .delete-button {
                display: inline-block;
            }
        }
    }

    .cost-input.time {
        min-width: 100px;
        max-width: 100px;
    }

}