.spell {
    width: max-content;

    .title-label {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        background-color: $neutral-color;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
    
        position: relative;
        
        .add-button {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            text-align: center;
            align-items: center;
            vertical-align: middle;
        }
    }
    .shorttitle-label {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        background-color: $neutral-color;
        border-radius: 3px;
        border: 1px solid var(--color-border-light-tertiary);
    }

    .spell-row {
        width: max-content;
        
        .name-label {
            text-align: center;
            background-color: $transparent-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
        }


        .value-label {
            text-align: center;
            background-color: $transparent-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
        }


        .detail-button {
            display: inline-block;
            text-align: center;
            align-items: center;
            vertical-align: middle;
        }

        .description-label {
            display: none;
            text-align: center;
            line-height: var(--form-field-height);
            background-color: $tanned-color;
            border-radius: 3px;
            border: 1px solid var(--color-border-light-tertiary);
        
            position: relative;
        
            .config-button {
                position: absolute;
                right: 20px;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            &:hover .config-button {
                display: inline-block;
            }
            
            .delete-button {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                text-align: center;
                align-items: center;
                vertical-align: middle;
            }
            &:hover .delete-button {
                display: inline-block;
            }
        }
    
    }
}
  
.spell {
    width: max-content;

    .title-label {
        max-width: 250px;
        min-width: 250px;
        height: var(--form-field-height);
        line-height: var(--form-field-height);
        
        .add-button {
            height: var(--form-field-height);
            line-height: var(--form-field-height);
            min-width: 20px;
            max-width: 20px;
            padding-left: 3px;
            padding-right: 3px;
        }
    }

    .shorttitle-label {
        max-width: 700px;
        min-width: 700px;
        height: var(--form-field-height);
        line-height: var(--form-field-height);
    }

    .spell-row {
        width: max-content;


        .name-label {
            max-width: 190px;
            min-width: 190px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 4px;
            padding-right: 4px;
        }

        .value-label {
            max-width: 40px;
            min-width: 40px;
            height: var(--form-field-height);
            line-height: var(--form-field-height);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        .detail-button {
            height: var(--form-field-height);
            line-height: var(--form-field-height);
            min-width: 20px;
            max-width: 20px;
            padding-left: 3px;
            padding-right: 3px;
        }

        .description-label {
            max-width: 280px;
            min-width: 280px;
            min-height: var(--form-field-height);
            height: var(--form-field-height);
            line-height: var(--form-field-height);
        
            .config-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
            .delete-button {
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    
    }

    .spell-details {
        min-width: 750px;
        max-width: 750px;
        .spell-detail {
            min-width: 250px;
            max-width: 250px;

            display: grid;
            grid-column: span 2/span 2;
            grid-template-columns: 60px 1fr;
            gap: 0;
            margin: 0;
            padding: 0;
        
            .flexrow, .flexcol{
                height: fit-content;
            }
        
            label, input, span{
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                line-height: var(--form-field-height);
                max-height: var(--form-field-height);
                min-height: var(--form-field-height);
                padding: 0;
                border-radius: 3px;
                border: 1px solid var(--color-border-light-tertiary);
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .name-area {
                grid-column-end: span 2;
                border-radius: 3px;
                border: 1px solid var(--color-border-light-tertiary);
            }

            .name {
                min-width: 208px;
                max-width: 208px;
                border-radius: 0px;
                border: none;
            }

            .config-button {
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
            .config-button {
                display: inline-block;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                height: var(--form-field-height);
                line-height: var(--form-field-height);
                min-width: 20px;
                max-width: 20px;
                padding-left: 3px;
                padding-right: 3px;
            }
        
            .category-title {
                min-width: 60px;
                max-width: 60px;
                align-items: center;
                display: flex;
            }
        
            .success-value-title {
                height: var(--form-field-height);
            }
        
            .success-value {
                min-width: 30px;
                max-width: 30px;
            }
        
            .critical-title {
        
            }
        
            .critical {
                min-width: 30px;
                max-width: 30px;
            }
        
            .fumble-title {
        
            }
        
            .fumble {
                min-width: 30px;
                max-width: 30px;
            }
        
            .cost-title {
                height: var(--form-field-height);
            }
        
            .cost-input {
        
            }
        
            .time-title {
                height: calc(2*var(--form-field-height));
                max-height: calc(2*var(--form-field-height));
            }
        
            .time-preparation-title {
                min-width: 90px;
                max-width: 90px;
            }
        
            .time-preparation {
            }
        
            .time-duration-title {
                min-width: 70px;
                max-width: 70px;
            }
        
            .time-duration {
        
            }
        
            .time-modifier {
                min-width: 20px;
                max-width: 20px;
            }
        
            .components-title {
                height: calc(5*var(--form-field-height));
                max-height: calc(5*var(--form-field-height));
            }
        
            .components-verbal-title {
                min-width: 90px;
                max-width: 90px;
            }
        
            .components-verbal {
            }
        
            .components-somatic-title {
        
            }
        
            .components-somatic {
        
            }
        
            .components-material-title {
        
            }
        
            .components-material {
        
            }
        
            .targeting-title {
                height: calc(3*var(--form-field-height));
                max-height: calc(3*var(--form-field-height));
            }
        
            .targeting-target-title {
                min-width: 50px;
                max-width: 50px;
            }
        
            .targeting-target {
        
            }
        
            .targeting-range-title {
                min-width: 50px;
                max-width: 50px;
            }
        
            .targeting-range {
        
            }
        
            .targeting-area-title {
                min-width: 50px;
                max-width: 50px;
            }
        
            .targeting-area {
        
            }
        
            .effect-title {
                grid-column-end: span 2;
            }
        
            .effect {
                grid-column-end: span 2;
                text-align: left;
                max-height: fit-content;
                min-height: var(--form-field-height);

                white-space: normal;

                p, h1, h2, h3, h4, h5 {
                    margin: 0;
                }
            }
        
            .spell-supp-title {
                grid-column-end: span 2;
        
                position: relative;
                
                .add-button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        
            .spell-supp {
                grid-column-end: span 2;
            }
        
            .cost-input.time {
                min-width: 100px;
                max-width: 100px;
            }
        
        }
    }
}

