<div class="flexrow action-modifier">
    {{#if need_selection}}
        <input type="checkbox" name="action_modifiers_{{action_mod_id}}_used" data-dtype="Boolean" {{checked action_mod.used}}/>
    {{/if}}
    <div class="flexcol">
        <label class="name">{{{action_mod.name}}}</label>
        {{#unless hide_effect}}
            <label class="effect">{{{action_mod.effect}}}</label>
        {{/unless}}
    </div>
</div>