<div class="feature flexcol">
    <label class="title-label">{{ localize "ATORIA.CharacterFeatureTitle"}}</label>

    <h2>Combative
        <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="combat" >
            <i class="fas fa-plus"></i>
        </a>
    </h2>
    {{#each combat_features as |feature key|}}
        {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature}}
    {{/each}}

    <h2>Compétence
        <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="skill" >
            <i class="fas fa-plus"></i>
        </a>
    </h2>
    {{#each skill_features as |feature key|}}
        {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature}}
    {{/each}}

    <h2>Magie
        <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="magic" >
            <i class="fas fa-plus"></i>
        </a>
    </h2>
    {{#each magic_features as |feature key|}}
        {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature}}
    {{/each}}

    <h2>Connaissance
        <a class="add-button item-create" data-type="feature-list" data-action="feature-list-item" data-parent="knowledge" >
            <i class="fas fa-plus"></i>
        </a>
    </h2>
    {{#each knowledge_features as |feature key|}}
        {{> "systems/atoria/templates/actors/parts/actor-character-feature-list.hbs" feature=feature}}
    {{/each}}

</div>