<div class="feature-row item flexcol" data-item-id="{{feature._id}}" {{#if feature.system.has_color}}style="background-color:{{feature.system.color}};"{{/if}}>
    <label class="longname-label" title="{{feature.name}}">{{feature.name}}
        <a class="config-button item-config flex0" data-action="feature-item" ><i class="fas fa-cog"></i></a>
    </label>
</div>