<div class='atoria tooltip'>
    <h5>{{supplementary.name}}</h5>
    {{>"atoria.tooltips_partials.cost-tooltip" cost=supplementary.cost systemFields=systemFields.cost.fields}}
    <label>{{supplementary.description}}</label>
</div>